/*********************************************************************
Basic Styles
**********************************************************************/
body {
	padding: 20px 180px;
	font-family: 'Roboto', sans-serif;
}

p {
	display: none;
}

/*********************************************************************
Content Styles
**********************************************************************/

input#search {
	padding: 10px 20px;
	width: 40%;
	border-color: grey;
}

.head {
	text-align: center;
	padding: 20px;
}

.row1 {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: space-around;
}

.row2 {
	display: flex;
	padding-bottom: 20px;
	justify-content: space-around;
}

.row3 {
	display: flex;
	padding-bottom: 20px;
	justify-content: space-around;
}

/*Placeholder fix*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: left;
  padding-right: 10px;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: left;
  padding-right: 10px;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: left;
  padding-right: 10px;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  font-style: italic;
}
